@import '../../styles/_mixins.scss';

.profile-details {
  .profile-picture{
    img {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      object-fit: cover;
    }
  }

  @include viewMd {
    .profile-picture {
      img {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
